@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@300;400;500;600;700&display=swap");

:root {
  --background: #f7dfd8; /* base suave */
  --foreground: #2e2e2e; /* texto */
  --primary: #e2a9a1; /* rosa elegante */
  --secondary: #d8b6a4; /* nude/bege */
  --accent: #c9a227; /* dourado sofisticado */
  --muted: #f2eceb; /* neutro */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-muted: var(--muted);

  --font-title: "Great Vibes", cursive;
  --font-sans: "Montserrat", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

h1,
h2,
h3,
.title {
  font-family: var(--font-title);
}

p,
span,
li,
button,
input {
  font-family: var(--font-sans);
}
